nav {
  .breadcrumb {
    border-radius: 0;
    background: transparent;
    margin: 0;
    padding: .3rem 0;
    border-bottom: solid 1px $color-border;

    &-item {
      position: relative;

      +.breadcrumb-item:before {
        content: "/";
        padding-right: .2rem;
        font-family: $font-book;
      }
    }

    &-item.active {
      color: $color-primary;
      font-family: $font-black;
    }

    &-item+.breadcrumb-item {
      padding-left: .2rem;
    }

    &-item {
      display: -ms-flexbox;
      display: flex;
      font-size: 12px;
      line-height: 25px;
      @media only screen and (min-width: $screen-md-min) {
        font-size: 14px;
      }

      a {
        color: $color-base;
        font-family: $font-book;
      }
    }
  }
}
