.btn {
  font-family: $font-black;
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  min-width: max-content;

  &-primary {
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover {
      background-color: darken($color-primary, 10%);
      border-color: $color-primary;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba($color-primary, 0.192);
    }
    &.active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
      border-color: $color-primary;
      background-color: $color-light;
      color: $color-primary;
    }
  }

  &-secondary {
    color: #fff;
    background-color: $color-internal-link;
    border-color: $color-internal-link;
    &:hover {
      background-color: darken($color-internal-link, 2%);
      border-color: $color-internal-link;
    }
    &:focus,
    &.active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus,
    .show>.btn-primary.dropdown-toggle {
      border-color: $color-internal-link;
      background-color: $color-internal-link;
      color: $color-light;
      box-shadow: 0 0 0 0.2rem rgba($color-internal-link, 0.192);
    }
  }

  &-success {
    color: #fff !important;
  }

}
.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus {
  border-color: $color-primary;
  // background-color: $color-light;
  color: $color-primary;
}


.btn-group-sm>.btn,
.btn-sm {
  padding: .19rem 2.1rem;
}