
nav {
  .dropdown-toggle::after{
    color: $color-primary;
    content: none;
  }
  &.navbar {
    padding: .16rem 1rem;
    @media only screen and (min-width: $screen-md-min) {
      padding: .8rem 1rem;
    }
  }
  
  .navbar {
    // padding: .16rem 1rem;
    // @media only screen and (min-width: $screen-md-min) {
    //   padding: .8rem 1rem;
    // }

    &-brand{
      max-width: 70%;
      margin: 0;
    }
    
    &-nav {

      .nav-item {
        margin: 0;
        line-height: 41px;
      }
      
      .nav-link{
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        color: $color-base;
        font-family: $font-book;
        font-size: 18px;
        line-height: 25px;

        padding: 1.1rem 0;
        @media only screen and (min-width: $screen-md-min) {
          padding: .5rem 1.7rem;
        }
      }

      .show {

        >.nav-link {
          color: $color-primary;
          font-weight: 500;
        }
        
      }
      
      .dropdown-menu {
        border: 0;
        border-radius: 0;
        padding: .2rem 0 .6rem;
        @media only screen and (min-width: $screen-md-min) {
          min-width: 571px;
          border-radius: 0 0 5px 5px;
          padding: 0;
          padding-left: 1rem;
          box-shadow: 0 10px 10px rgba(0, 0, 0, .075) !important;
        }
        .dropdown-item{
          color: $color-base;
          padding: 1rem 0;
          position: relative;
          font-size: 18px;
          line-height: 25px;
          @media only screen and (min-width: $screen-md-min) {
            padding: 1rem 0;
          }
          
        }
        .dropdown-item:focus,
        .dropdown-item:hover {
          color: $color-primary;
          background-color: transparent;
        }

        &.show {

          [class*="col-"] {
            // border-bottom: solid 1px $color-border;
            &:before {
              // content: '';
              position: absolute;
              border-bottom: solid 1px $color-base;
              width: 90%;
              left: 50%;
              bottom: -1px;
              transform: translate(-50%, 0);
            }
          }
        }

        .card {
          border:0;
          overflow: hidden;
          border-radius: 10px;
          
          @media only screen and (min-width: $screen-md-min) {
            margin: 1rem;
            * {
              text-align: center;
            }
          }
          &-title {margin: 0;}
          &-body {
            background-color: $color-gray-light;
          }
          &-image {
            img {
              @media only screen and (max-width: $screen-md-min - 1) {
                position: absolute;
                width: auto;
                max-width: 1000%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    &-toggler {
      border: 0;
      padding: 0;
      width: 30px;
      &--login {
        background-color: $color-internal-link;
        border-radius: 1rem;
        width: 30px;
        height: 30px;
        font-size: 1px;
        line-height: 1;
        img {
          margin-top: -1px;
        }
      }
    }

  }
}


#pencet {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  
  span {
    background-color: $color-base-light;
    width: 30px;
    height: 2px;
    margin: 0.10em 0;
    display: block;
    transition: all .4s ease;
    transform-origin: 0 0;
    &:nth-child(2) {
      width: 20px;
    }
  }
  &.Diam {
    span {
      width: 27px;
    }
  }
}

.Diam span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -5px);
}

.Diam span:nth-child(2) {
  Transform: scaleX(0);
  opacity: 0;
}

.Diam span:nth-child(3) {
  transform: rotate(-45deg) translate(-1px, 5px);
}