/* MEDIAQUERIES */
$screen-xxs-min: 400px;
$screen-xs-min: 560px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-l-min: 1199px;
$screen-lg-min: 1200px;
$screen-xl-min: 1280px;


$font-family-base: '';

@mixin triangle($direction, $width, $height, $color) {
  content: '';
  display: block;
  width: 0;
  height: 0;

  @if $direction==top {
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    border-bottom: $height solid $color;
  }

  @else if $direction==bottom {
    border-left: ($width / 2) solid transparent;
    border-right: ($width / 2) solid transparent;
    border-top: $height solid $color;
  }

  @else if $direction==left {
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-right: $height solid $color;
  }

  @else if $direction==right {
    border-top: ($width / 2) solid transparent;
    border-bottom: ($width / 2) solid transparent;
    border-left: $height solid $color;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import '_fonts';
@import '_colors';
@import '_btn';

/* Space out content a bit */
body {
  font-weight: normal !important;
  color: $color-base;
  font-size: 14px;
  font-family: $font-book;

  * {
    transition: all ease .3s;
    &:focus {
      outline: -webkit-focus-ring-color auto 0px;
    }
  }

  // h Group
  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: $font-black;
    margin: 0;
  }

  .h1,h1 {}
  
  .h2,h2 {
    font-size: 24px;
    line-height: 26px;
    @media only screen and (min-width: $screen-md-min) {
      font-size: 30px;
      line-height: 35px;
    }
  }
  .h3,h3 {
    font-size: 18px;
    line-height: 25px;
    @media only screen and (min-width: $screen-md-min) {
      font-size: 20px;
      line-height: 35px;
    }
  }
  .h4,h4 {
    font-size: 16px;
    line-height: 35px;
    @media only screen and (min-width: $screen-md-min) {
      font-size: 18px;
    }
  }
  .h5,h5 {
    font-size: 18px;
    line-height: 25px;
    @media only screen and (min-width: $screen-md-min) {
      font-size: 16px;
    }
  }
  .h6,h6 {

  }

  img {
    max-width: 100%;
  }

  a {
    color: $color-external-link;
    font-size: 16px;
    line-height: 25px;
    &:hover {
      text-decoration: none;
      color: $color-internal-link;
      opacity: .8;
    }
    &.text-link{
      text-decoration: underline;
      font-family: $font-heavy;
      display: block;
      .svg-inline--fa {
        font-size: 12px;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 22px;
    font-family: $font-book;
    
    strong {
      font-family: $font-black;
    }
  }
  
  ul {
    padding-inline-start: 20px;
    margin: 0;
    li {
      font-family: $font-book;
      font-size: 16px;
      line-height: 22px;
      // margin-bottom: 1rem;
      &::marker{
        color: $color-internal-link;
      }
    }
  }

  .container {

    /* Media Queries */
    @media only screen and (min-width: $screen-lg-min) {
      max-width: 1194px !important;
    }


  }

}

@import '_header';

@import '_breadcrumb';

/* Custom page header */
/* Make the masthead heading the same height as the navigation */
main {
  padding-top: 60px;

  section {

    .subtitle {
      position: relative;
      padding-bottom: 10px;
      &::before {
        content: '';
        position: absolute;
        height: 6px;
        width: 72px;
        bottom: 0;
        background-color: $color-primary;
        border-radius: 1em;
      }
    }

    .entry {
      &--title {}
      &--content {}
    }

  }

  article {}

  aside {}
  

  //
  @import '_pagination';

  @import '_card';

  @import '_form';
}

/* Custom page footer */
@import '_footer';
