/* =Style CSS Libercoop -------------------------------------------------------------- */

body {
    color:#333333;
}

/** Position **/

.r-0 {
    right: 0;
}
.l-0 {
    left: 0;
}
.t-0 {
    top: 0;
}
.b-0 {
    bottom: 0;
}
.all-0{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/** Colores **/

a {
    color: #333333;
}

.btn-primary {
    color: #fff;
    background-color: #F83F00;
    border-color: #F83F00;
}
.btn-primary:hover {
    color: #fff;
    background-color: #F83F00;
    border-color: #F83F00;
}

.btn-secondary {
    color: #fff;
    background-color: #138BB2;
    border-color: #138BB2;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #138BB2;
    border-color: #138BB2;
}

.bg-primary {
    background-color: #F83F00 !important;
    border-color: #F83F00;
}
.btn-outline-primary {
    border-color: #F83F00;
    color: #F83F00;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #F83F00;
    border-color: #F83F00;
}
.bg-secondary {
    background-color: #EFEFEF!important;
}

h2, .h2, .h5, h5 {
    color: #002E75;
}

.text-info {
    color: #138BB2;
}

.list-unstyled i {
    color: #F83F00;
}

.btn-light {
    color: #F83F00;
}

/* lista footer */

.list-unstyled li {
    margin: 5px 0;
}

/** Z-index **/

.zindex-99 {
    z-index: 99;
}

/* ul */

::marker {
    color:#138BB2;
}

/* Titles*/

@media (max-width: 576px) {  
    .h1, h1 {
        font-size: 1.5rem;
    }
}

/** Carousel Components **/

@media (max-width: 576px) {  
    .carousel {
        min-height: 30vh;
    }
    .bg-slide {
        width: 100% !important;
        -moz-border-radius-bottomright:0;
        border-bottom-right-radius: 0 !important;
        background-color: #F83F00 !important;
    }
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
    .carousel-caption {
        position: relative;
    }
}

.carousel-control-next, .carousel-control-prev {
    width: 2%;
}

.bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgb(248 63 0 / 0.5);
    height: 100%;
    width: 75%;
    -moz-border-radius-bottomright: 40% 70%;
    border-bottom-right-radius: 40% 70%;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/** Card Components**/

.icon-card {
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -30px;
    top: -30px;
    display: flex;
    align-items: center;
}
.svg-card {
    margin: 0 auto;
    display: block;
}

path#icon {
    fill: #F83F00;
}

.card:hover .icon-card {
    background: #F83F00;
}

.card:hover path#icon {
    fill: #ffffff;
}

/** HR **/

.hr {
    height: 7px;
    background: #F83F00;
    width:54px;
}

.card-body .hr {
    position: absolute;
    top: -4px;
}

/** Brand Components**/

  /* Slider */
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider
  {
      position: relative;
      display: block;
      box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
  
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }

/* Toast */

.toast-body img {
    margin: -4px 0 0 0;
}

@media (max-width: 576px) {  
    .toast .close {
        position: absolute;
        top: 5px;
        right: 5px;
    }
}

/*breadcrumb*/ 

.breadcrumb a, .breadcrumb a:hover {
    color: white;
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}
.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #ffffff;
    content: "/";
}

/* Jumbotron */

.img-header {
    background-color: rgb(255 87 34 / 0.6)!important;
    overflow: hidden;
    border-radius: 0;
    height: 35vh;
}
.img-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}

@media (max-width: 576px) {  
    .img-jumbotron img {
        width: auto !important;
    }
}

.img-jumbotron img {
    display: block;
    object-fit: cover;
    width: 100%;
}

/* Card Left*/

.bd-placeholder-img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}