extends layouts/home

block content

  main

    include includes/breadcrumb.pug

    section#first-section.py-5
      //- 
      .container
      
        .row

          .col

            h2 Titulos
            //- h1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet hic ea vitae nulla quasi aut at, consequuntur nihil mollitia, officia temporibus autem ex neque dolorum minus laborum a fuga obcaecati!
            h2.text-primary h2/&gt; Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            
            h3.text-secondary h3/&gt; Amet hic ea vitae nulla quasi aut at, consequuntur nihil mollitia,
            
            hr

            h3.text-secondary.subtitle h3/&gt; Amet hic ea vitae nulla quasi aut at, consequuntur nihil mollitia,

            hr

            h4 h4/&gt; officia temporibus autem ex neque dolorum minus laborum a fuga obcaecati!
            h5 h5/&gt; Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis 
            h6 h6/&gt; iusto et minus ut eos autem qui tempora accusantium quam.

            hr

            h2 Parrafos

            p p/&gt; Lorem ipsum dolor sit amet consectetur adipisicing elit 
              strong Odit consequatur sit delectus perspiciatis! Nesciunt, necessitatibus magni ipsum cumque, ullam sequi perferendis obcaecati officia maiores molestias suscipit repellendus quaerat, quasi ut.

            p p/&gt; Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit consequatur sit delectus perspiciatis! Nesciunt, necessitatibus magni ipsum cumque, ullam sequi perferendis obcaecati officia maiores molestias suscipit repellendus quaerat, quasi ut.

            p: small small/&gt; Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, temporibus laudantium quis iusto dolor reiciendis velit doloremque odit vel sint deserunt doloribus at eius nobis nulla qui. Ex, consequatur sunt?

            ul
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta repellat fuga rerum adipisci reprehenderit cum nihil et rem doloribus minima suscipit atque, placeat accusantium saepe eaque provident! Quae, deserunt?
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta repellat fuga rerum adipisci reprehenderit cum nihil et rem doloribus minima suscipit atque, placeat accusantium saepe eaque provident! Quae, deserunt?
              li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam soluta repellat fuga rerum adipisci reprehenderit cum nihil et rem doloribus minima suscipit atque, placeat accusantium saepe eaque provident! Quae, deserunt?

            hr 

    section#second-section.py-5
      .container
        .row
          .col
            button.btn.btn-primary button
          .col
            a.text-link(href="#") Ver más

    section#third-section.py-5
      .container

        .row
          .col-12
            .card.w-100
              .card-body
                h2.card-title.text-secondary Simula tu Crédito
                p.card-text.d-none.d-md-block Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus purus est, euismod nec odio et, fermentum molestie justo.
                a(href="#").btn.btn-primary Simula aquí

          .col-12
            .row
              .cards-group.cards-group--icon
                .card
                  .card-body
                    .card-ico
                      i
                        img(src="images/ico-ahorro.svg", alt="...")
                    h3.card-title.text-secondary Cuenta de Ahorro
                    .d-none.d-md-block
                      p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae efficitur augue. Integer et volutpat nunc.
                      a(href="#").card-link.text-link Ver más
                .card
                  .card-body
                    .card-ico
                      i
                        img(src="images/ico-ahorro.svg", alt="...")
                    h3.card-title.text-secondary Cuenta de Ahorro
                    .d-none.d-md-block
                      p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae efficitur augue. Integer et volutpat nunc.
                      a(href="#").card-link.text-link Ver más
                      
                .card
                  .card-body
                    .card-ico
                      i
                        img(src="images/ico-deposito.svg", alt="...")
                    h3.card-title.text-secondary Depósitos a Plazo
                    .d-none.d-md-block
                      p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae efficitur augue. Integer et volutpat nunc.
                      a(href="#").card-link.text-link Ver más
                
                .card
                  .card-body
                    .card-ico
                      i
                        img(src="images/ico-ahorro.svg", alt="...")
                    h3.card-title.text-secondary Cuenta de Ahorro
                    .d-none.d-md-block
                      p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae efficitur augue. Integer et volutpat nunc.
                      a(href="#").card-link.text-link Ver más
                      
                .card
                  .card-body
                    .card-ico
                      i
                        img(src="images/ico-ahorro.svg", alt="...")
                    h3.card-title.text-secondary Cuenta de Ahorro
                    .d-none.d-md-block
                      p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae efficitur augue. Integer et volutpat nunc.
                      p.card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae efficitur augue. Integer et volutpat nunc.
                      ul.pb-4
                        li Crédito de consumo.
                        li Crédito automotriz.
                        li Crédito Universal.
                      a(href="#").card-link.text-link Ver más
    
    section#fourth
      .container
        .row
          .col.col-md-4
            .card
              img.card-img-top(src="images/img-credito-consumo@2x.jpg", alt="...")
              .card-body
                h3.card-title.text-secondary Card title
                .card-text.mb-3 Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                a.text-link(href="#") Leer más
          .col.col-md-4
            .card
              img.card-img-top(src="images/img-credito-consumo@2x.jpg", alt="...")
              .card-body
                h3.card-title.text-secondary Card title
                .card-text.mb-3 Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                a.text-link(href="#") Leer más
          .col.col-md-4
            .card
              img.card-img-top(src="images/img-credito-consumo@2x.jpg", alt="...")
              .card-body
                h3.card-title.text-secondary Card title
                .card-text.mb-3 Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                a.text-link(href="#") Leer más
        
          .col.text-center.py-4
            a.btn.btn-primary(href="#") Ver todo

    
    section#fifth
      .container
        .row
          .col
            h3.text-secondary.subtitle Beneficios para nuestros asociados

            .entry.py-3
              p Nuestras socias y socios deciden ser propietarios de Libercoop para mejorar su calidad de vida y gozar de nuestros beneficios.
              
        .row
          .col.col-md-6
            .card.mb-3
              .row.no-gutters
                .col-md-4
                  img.card-img(src="images/img-asesoria@2x.jpg", alt="...")
                
                .col-md-8
                  .card-body
                    h3.text-secondary.card-title Asesoría jurídica con L&H Abogados
                    p.card-text Obtén respuesta y orientación jurídica con un valor preferente.
                    ul.my-3
                      li Respuesta inmediata vía telefónica.

                      li Respuesta en 48 hrs vía email.

                      li Atención presencial, completamente gratuita.
                    a.text-link(href="#") Visitar sitio 
                      i.fas.fa-external-link-alt
                    p.card-text: small.text-muted Last updated 3 mins ago
          .col.col-md-6
            .card.mb-3
              .row.no-gutters
                .col-md-4
                  img.card-img(src="images/img-asesoria@2x.jpg", alt="...")
                
                .col-md-8
                  .card-body
                    h3.text-secondary.card-title Asesoría jurídica con L&H Abogados
                    p.card-text Obtén respuesta y orientación jurídica con un valor preferente.
                    ul.my-3
                      li Respuesta inmediata vía telefónica.

                      li Respuesta en 48 hrs vía email.

                      li Atención presencial, completamente gratuita.
                    a.text-link(href="#") Visitar sitio 
                      <i class="fas fa-external-link-alt fa-1x"></i>
                    p.card-text: small.text-muted Last updated 3 mins ago
                    