doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#313234")
    
    title Page | Fundación Ciudadanos en acción
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css", type="text/css")
    link(rel="stylesheet", href="/node_modules/slick-carousel/slick/slick-theme.css", type="text/css")
    link(rel="stylesheet", href="/node_modules/slick-carousel/slick/slick.css", type="text/css")
    
    //- link(rel="stylesheet", href="/node_modules/animate.css/animate.min.css", type="text/css")
    //- link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css", type="text/css")

    // endbuild

    // build:css styles/main.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild

    // build:js scripts/modernizr.js
    script(src="scripts/modernizr.js")
    // endbuild
    
    // build:js scripts/fontawesome.js
    script(src="/node_modules/@fortawesome/fontawesome-free/js/all.js")
    // endbuild
  
  body
    <!--[if IE]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    include ../includes/header.pug

    block content

    include ../includes/footer.pug               

    // build:js scripts/vendor.js
    script(type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(type="text/javascript" src="/node_modules/slick-carousel/slick/slick.min.js")
    // endbuild
    
    // build:js scripts/main.js
    script(src="scripts/main.js")
    // endbuild