section

    .container
    
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                <li class="breadcrumb-item"><a href="#">Blog y Noticias</a></li>
                <li class="breadcrumb-item active" aria-current="page">¿Qué es la Potabilidad Financiera?</li>
            </ol>
        </nav>