footer.footer

    button#anchor.anchor-top.bg-internal-link(data-scroll-button="#first-section")
        img(src="../images/ico-chevron-top.svg", alt="")

    section.footer--top

        .container.py-4

            .row
            
                .col
                    h5.footer--top__title.text-secondary: strong Productos
                    
                    ul.list-unstyled
                        li: a(href="#") Créditos
                        li: a(href="#") Ahorro
                        li: a(href="#") Depósitos a Plazo
                        li: a(href="#") Cuota de Participación
                        li: a(href="#") Crédito PYME
                
                .col
                    h5.footer--top__title.text-secondary: strong Información Institucional
                    
                    ul.list-unstyled
                        li: a(href="#") Blog
                        li: a(href="#") Quiénes somos
                        li: a(href="#") Ser socio cooperativo
                        li: a(href="#") Beneficios
                        li: a(href="#") Centro de Ayuda
                        li: a(href="#") Sucursales

                .col
                    h5.footer--top__title.text-secondary: strong Información de Interés

                    ul.list-unstyled 
                        li: a(href="#") Políticas De Privacidad
                        li: a(href="#") Términos y Condiciones del Sitio
                        li: a(href="#") Línea de Denuncias
                
                .col
                    h5.footer--top__title.text-secondary: strong Información Legal

                    ul.list-unstyled 
                        li: a(href="#") Alzamiento de Garantías
                        li: a(href="#") Ley General de Cooperativas
                        li: a(href="#") Resolución Administrativa Exenta nº 1321 del Departamento de Cooperativas
                        li: a(href="#") Compendio de Normas Financieras Banco Central
                        li: a(href="#") Ley de Portabilidad Financiera
                
                .col
                    h5.footer--top__title.text-secondary: strong Contacto

                    ul.list-unstyled
                        li.ico.ico-address
                            figure: img(src="../images/ico-address.svg", alt="address")
                            a(href="#") Alfredo Barros Errázuriz #1900 Of. 202, Providencia, Santiago.
                        li.ico.ico-phone
                            figure: img(src="../images/ico-phone.svg", alt="phone")
                            a(href="#") (+56 2) 2307 0400
                        li.ico.ico-email
                            figure: img(src="../images/ico-email.svg", alt="email")
                            a(href="#") contacto@libercoop.cl
                        

    section.footer--bottom
        
        .container.py-2

            .row.d-flex.justify-content-md-between.align-items-center
                
                .col-12.col-lg-2
                    ul.list-unstyled.nav-social.d-flex.justify-content-around
                        <li>
                            <a href="#" class="text-primary border-primary border rounded-circle">
                                <i class="fab fa-1x fa-facebook-f" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-primary border-primary border rounded-circle">
                                <i class="fab fa-1x fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-primary border-primary border rounded-circle">
                                <i class="fab fa-1x fa-instagram" aria-hidden="true"></i>
                            </a>
                        </li>
                    
                .col-12.col-lg-4.d-flex.justify-content-between

                    figure.m-0: img(src="../images/logo-cooperativas-chile.svg", alt="")

                    figure.m-0: img(src="../images/logo-cooperativas-sur.svg", alt="")

                    figure.m-0: img(src="../images/logo-fecrecoop.svg", alt="")

    section.footer--copy.bg-primary.py-1.text-center
        small.text-light Copyright © <strong>2020 LIBERCOOP</strong>. Todos los derechos reservados.